<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
<servlet>
    <servlet-name>SendCookie</servlet-name>
    <servlet-class>Cookie.SendCookie</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>SendCookie</servlet-name>
        <url-pattern>/sendCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCookie</servlet-name>
        <servlet-class>Cookie.GetCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookie</servlet-name>
        <url-pattern>/getCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LastAccessTimeServlet</servlet-name>
        <servlet-class>Cookie.LastAccessTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastAccessTimeServlet</servlet-name>
        <url-pattern>/timeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>session.SessionServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SesstionServlet2</servlet-name>
        <servlet-class>session.SessionServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SesstionServlet2</servlet-name>
        <url-pattern>/sesstion2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>Checking.CheckImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checksession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Checking.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
