<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
<servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletStatus</servlet-name>
        <servlet-class>StatusServlet.StatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletStatus</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>header.HeaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>header.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>header.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestWriteServlet</servlet-name>
        <servlet-class>WriteSeting.TestWeiteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestWriteServlet</servlet-name>
        <url-pattern>/write</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OutputServlet</servlet-name>
        <servlet-class>OutputServlet.OutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OutputServlet</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownServlet</servlet-name>
        <servlet-class>DownLoadServlet.DownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownServlet</servlet-name>
        <url-pattern>/DownServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckImageServlet</servlet-name>
        <servlet-class>Checking.CheckImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckImageServlet</servlet-name>
        <url-pattern>/Checking</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpLoadServlet</servlet-name>
        <servlet-class>UpLoadServlet.UpLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpLoadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
</web-app>
